---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-5xl font-bold">Let's get in touch!</h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    If you're looking for a developer to join your team or help you build your
    web project, get in touch with me!
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">Contact Me!</Link>
  </div>
</div>
